* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.background-n {
    position: absolute;
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: wheat;
}

p {
    color: #ffffff;
    font-weight: 700;
}

.background-opacity {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 7%;
    background: rgba(0, 0, 0, 0.75);
    width: 90%;
    max-height: 95%;
    max-width: 1200px;
    /* margin: 100px auto; */
    box-shadow: 0.5rem 0.5rem 1rem black;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.div-div {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
}

textarea {
    padding: 10px;
    margin-right: 5px;
    border: black 1px solid;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 1);
    width: 190px;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    color: white;
    background-color: black;
    resize: none
}

button {
    border: rgb(68, 74, 80) 1px solid;
    border-radius: 15%;
    box-shadow: slategray;
    width: 40px;
    height: 40px;
    font-size: 12px;
    font-weight: 700;
    background: linear-gradient(90deg, #7253e3, #07aca6);
    color: rgb(0, 14, 58);
}

.city-contry {
    display: flex;
    flex-direction: column;
    /* min-height: 80px; */
    justify-content: space-between;
    align-items: flex-start;
    margin: 1rem 0;
}

.city-contry :first-child {
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.city-contry :last-child {
    font-size: 36px;
    font-weight: 700;
    color: white;
}

main {
    display: flex;
    justify-content: space-between;
}

.today_weather {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 2;
}

.today_data-name,
.today_data {
    font-size: 26px;
    margin: 1rem 0;
}

.today_day-of-week {
    font-size: 20px;
    margin: 1rem 0;
}

.fa-sun {
    color: rgb(254, 255, 206);
}

.fa-cloud-moon {
    color: rgb(0, 14, 58);
    border-radius: 50%;
    background-color: #42ccd1;
    background-image: linear-gradient(90deg, #7253e3, #07aca6);
}

.today_i {
    font-size: 80px;
    font-weight: 700;
    margin: 20px 0;
}

.today_weather-day,
.today_weather-night {
    font-size: 26px;
    margin: 1rem 0;
}

.today_weather-pressure,
.today_weather-wind,
.today_weather-humidity {
    font-size: 20px;
    margin: 1rem 0;
}

.other-weather {
    /* min-height: 300px; */
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    flex: 3;
}

.tomorrow_weather {
    margin: 0 3rem 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 350px;
}

.tomorrow_i {
    font-size: 40px;
    font-weight: 700;
    margin: 1rem 0;
}

.tomorrow_data,
.tomorrow_day-of-week,
.tomorrow_weather-day,
.tomorrow_weather-night {
    font-size: 20px;
    margin: 1rem 0;
}

.tomorrow_weather-pressure,
.tomorrow_weather-wind,
.tomorrow_weather-humidity {
    font-size: 16px;
    margin: 1rem 0;
}